# Created by venv; see https://docs.python.org/3/library/venv.html, dấu * để bỏ toàn bộ file trong cùng thư mục với file .gitignore này, ví dụ: *.pyc sẽ bỏ qua tất cả các file .pyc trong cùng thư mục với file .gitignore này
# *

legalqa_local1.py
dense_finetuned/
dense_finetuned_tmp/
submission.zip
subcon/
